body{
    color: black;
  }
.login_container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    gap: 10px;
    box-sizing: border-box;
}
.left_container {
  flex: 1;
  width: 300px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  /* gap: 1rem; */
}
.right_container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_wrapper {
  position: relative;
  width: 250px;
  height: 250px;
}

.image_wrapper img {
  width: 150%;
  height: 150%;
  object-fit: cover;
  border-radius: 50%; 
  position: relative;
  z-index: 2;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.bg_shape {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 270px;
  height: 180px;
  background-color: #fcd34d; 
  border-radius: 50% 50% 30% 70% / 60% 40% 60% 40%; 
  z-index: 1;
  transform: rotate(-15deg);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  max-width: 400px; 
  margin: auto; 
}

input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #4e80f0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #3a6cd1;
} */