.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* padding: 1rem; */
  /* background-color: white; */
  border-radius: 12px;
}

.form-control {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1 1 250px;
}

.form-control input {
  color: grey;
  border: 1px solid #ccc;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
}

.form-control select {
  padding: 0.75rem;
  font-size: 1rem;
  color: grey;
  /* background-color: #fffcf; */
  background-color: #f9f8fa;
  border-radius: 6px;
}
.form-control select option {
  color: black;
  background-color: white;
  border: none;
}

/* .form-control button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #144e16;
  background-color: transparent;
  border: 2px solid #144e16;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
} */
 
.toggle-switch {
  position: relative;
  width: 250px;
  height: 40px;
  background-color:gold;
  /* border: 2px solid #ddb328; */
  border: 2px solid  rgb(255, 196, 0);
  border-radius: 20px;;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  overflow: hidden;
}

/* Individual options */
.toggle-switch .option {
  width: 50%;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  padding: 10px 0;
  user-select: none;
  position: relative;
  color: white;
}

/* Divider between options */
.toggle-switch .option:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 20%;
  height: 60%;
  width: 1px;
  background-color: #d3a40c; /* line color */
  z-index: 3;
}

/* The slider background */
.toggle-switch .slider {
  position: absolute;
  width: 50%;
  height: 95%;
  top: 10;
  left: 0;
  background-color: rgb(255, 196, 0);
  /* background-color: white; */
  border-radius: 20px;
  transition: left 0.3s;
  z-index: 1;
}

/* Move slider to right for DESC */
.toggle-switch.desc .slider {
  left: 50%;
}

/* Text colors */
.toggle-switch.asc .option:first-child {
  /* color: gold; */
}
.toggle-switch.asc .option:last-child {
  color: white; /* not selected */
}

.toggle-switch.desc .option:first-child {
  color: white; /* not selected */
}
.toggle-switch.desc .option:last-child {
  color: gold; /* selected */
}



.form-clear {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 100%;
  /* padding: 10px; */
  /* margin-bottom: 1rem; */
}

.form-clear a {
  color: #7f8891;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.form-clear a:hover {
  text-decoration: none;
  color: #63686d;
}


label {
  margin-bottom: 0.25rem;
  font-weight: 500;
  font-size: 0.9rem;
}

input, select, button {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}
