form {
  display: flex;
  flex-direction: column;
  width: 120%;
  max-width: 1000px;
  min-height: 20vh; 
  margin: 40px auto;
  padding: 4rem 3rem;
  gap: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  justify-content: center; 
}

form input {
  padding: 1.2rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form button {
  padding: 1.2rem;
  background-color: #144e16;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #104111;
}

form p {
  margin-top: 0.5rem;
  font-size: 1rem;
}
